<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
   <!--add key="strConnection" value="Data Source=DESKTOP-0RS2J3P ;Initial Catalog=DS_NUTRIOLOGA; Integrated Security = True"/>-->
   <!--<add key="strConnection" value="Data Source=02-PC;Initial Catalog=CSLDB_HECOTOURS; Integrated Security = True"/>--> 
   <!--<add key="strConnection" value="Data Source=50.97.128.140 ;Initial Catalog=CSL_BOLETOS_PRUEBA; USER=CSL; PASSWORD=CSL2014;"/>  -->   
   <!--<add key="strConnection" value="Data Source=SECAVE; Initial Catalog=CSL_BOLETOS_PRUEBA; Integrated Security=True;"/> --> 
   <!--add key="strBanMac" value="true"/--> 
   <!--add key="strMac" value="3E:A0:67:D3:A9:25"/-->  
   <add key="strConnection" value="Data Source=LAPTOP-FEMDM471 ;Initial Catalog=DS_NUTRIOLOGA; Integrated Security = True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>


