<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
   <add key="strConnection" value="Data Source=DESKTOP-0RS2J3P;Initial Catalog=DS_NUTRIOLOGA; Integrated Security = True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>


